html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 400px;
  width: 100%;
}
#Dancy-D {
  border: 1px solid;
  border-radius: 15px;
}

#intro {
  font-size: 100px;
}

#description {
  border: 1px solid;
  border-radius: 15px;
  font-size: 30px;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

#map-view {
  border: 1px solid;
  border-radius: 15px;
}
