body {
  background-color: bisque;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#Dancy-D {
  border: 1px solid;
  border-radius: 15px;
}

#intro {
  color: rgb(224, 66, 122);
  font-size: 150px;
  font-family: "Modak", cursive;
}

#description {
  border: 1px solid;
  border-radius: 15px;
  font-size: 30px;
  font-family: "Cabin", sans-serif;
  /* font-style: italic; */
  margin: 20px;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.button {
  font-family: "Cabin", sans-serif;
}

#distant-donut-box {
  margin: 5px;
  padding-left: 5px;
}

#distant-button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#distant-input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#local-donut-box {
  margin: 20px;
  padding-left: 150px;
}

#map-view {
  border: 1px solid;
  border-radius: 15px;
  margin: 20px;
}
#map {
  height: 800px;
}
/* jQuery UI Customization */
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
  display: none;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}

button.ui-button.ui-corner-all.ui-widget {
  background: #3298dc;
  color: white;
  width: 100%;
  padding: 20px;
  font-size: 2em;
  text-transform: uppercase;
}

img.victory {
  width: 100%;
}
